node_modules/
venv/
.env
__pycache__/
*.pyc
.DS_Store
dist/
build/
.vscode/
.idea/
scraping/debug_ant*
scraping/debug_sri*
scraping/*.png
scraping/*.html
backend/__pycache__/
frontend/node_modules/
frontend/dist/
frontend/.env
